.venv314/
.venv/
venv/
env/

.env
*.env

__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/  

.DS_Store
Thumbs.db
.vscode/
.idea/

**/input/*
**/output/*

!**/input/.gitkeep
!**/output/.gitkeep

Docker Commands.txt

script.py

__pycache__/
*.py[cod]
*$py.class
.cache/